// ===========================
// Utils: Variables
// ===========================

//Colors

$color-white: #fff !default;
$color-black: #000 !default;
$color-lochmara: #0481c2 !default;
$color-panache: #eaf6ee !default;
$color-grey: #ccc !default;
$color-sundown: #f7b1b1 !default;
$color-red: #f7b1b1 !default;
$color-lime-green: #28d20f !default;
